.projects-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	height: 100vh;
}
.projects-buttons button {
	height: 50px;
	width: 150px;
	margin-right: 30px;
	margin-bottom: 20px;
	border: 2px solid var(--main-blue-color);
	border-radius: 10px;
	padding: 10px;
	background-color: transparent;
	color: white;
}
.projects-buttons button:hover {
	opacity: 0.6;
}
.projects-buttons button:active {
	outline: none;
	border: none;
}
.projects-buttons button:focus {
	outline: 0;
}
