.projects-buttons {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.projects-buttons button {
	margin-bottom: 20px;
	border: 2px solid var(--main-blue-color);
	border-radius: 10px;
	padding: 10px;
	background-color: transparent;
}
.projects-buttons button:hover {
	opacity: 0.6;
}
.projects-buttons button:active {
	outline: none;
	border: none;
}
.projects-buttons button:focus {
	outline: 0;
}
