.tech-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: -100px;
	padding: 100px;
	margin-bottom: 200px;
	align-items: center;
	height: 100vh;
}
.tech-page header {
	border: 2px solid var(--main-blue-color);
	color: white;
	border-radius: 0.5em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
}
.tech-content {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px solid var(--main-blue-color);
	border-radius: 0.5em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
	color: white;
}
.tech-content main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tech-content h2 {
	border: 2px solid var(--main-blue-color);
	border-radius: 0.2em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: transparent;
	margin-right: 10px;
	margin-left: 10px;
}
.tech-content p {
	text-align: center;
	width: 200px;
	margin-bottom: 20px;
}
.tech-content main p {
	border: 2px solid var(--main-dark-purple-color);
	border-radius: 0.2em;
	width: 50%;
}
