.main-page {
	height: 100vh;
	width: 100vw;
	position: relative;
}
.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
	margin-bottom: 50vh;
}
.main-button {
	border: 2px solid var(--main-bright-red-color);
	border-radius: 0.5em;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	color: white;
}

.main-button:focus {
	outline: 0;
}
.main-button:hover {
	animation: rotateBorder 3s infinite ease-in-out;
}

@keyframes rotateBorder {
	0% {
		border-color: transparent;
	}
	10% {
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top-color: white;
	}
	20% {
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-bottom-color: white;
	}
	30% {
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-left-color: white;
	}
	40% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-right-color: white;
	}
	100% {
		border-color: var(--main-bright-red-color);
	}
}
