.main-page {
	height: 100vh;
	width: 100vw;
	position: relative;
}
.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
	margin-bottom: 50vh;
}
.main-button {
	border: 2px solid var(--main-dark-purple-color);
	border-radius: 0.5em;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	color: white;
}

.main-button:focus {
	outline: 0;
	border-color: var(--main-blue-color);
}
.main-button:hover {
	animation: rotateBorder 3s infinite;
}

@keyframes rotateBorder {
	25% {
		border-color: var(--main-green-color);
	}
	50% {
		border-color: var(--main-blue-color);
	}
	75% {
		border-color: var(--main-green-color);
	}
	100% {
		border-color: var(--main-dark-purple-color);
	}
}
