.main-page {
	height: 100vh;
	width: 100vw;
	position: relative;
	top: 30%;
}
.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-button {
	border: 2px solid var(--main-dark-purple-color);
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	color: white;
}
.main-button:hover {
	opacity: 0.6;
}
.main-button:active {
	outline: none;
	border: none;
}
.main-button:focus {
	outline: 0;
}
