.muse-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 100px;
	margin-bottom: 100vh;
	align-items: center;
	color: white;
	height: 100vh;
}
.muse-page h1 {
	border: 2px solid var(--main-blue-color);
	border-radius: 0.2em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
}
.muse-content {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 450px 300px 300px;
	grid-gap: 20px;
	border: 2px solid var(--main-blue-color);
	border-radius: 0.5em;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
	color: white;
}
.muse-home {
	width: 600px;
	border-radius: 0.3em;
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}
.muse-mobile {
	width: 300px;
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
}
.muse-logo {
	width: 400px;
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	justify-self: center;
	align-self: center;
}
.muse-message {
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
	border: 2px solid var(--main-blue-color);
	border-radius: 0.5em;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: transparent;
}

.muse-message h4 {
	font-size: 2em;
}
.muse-message p {
	font-size: 1.2em;
}
.muse-icons {
	display: flex;
	flex-direction: column;
}
.muse-icons div {
	display: flex;
}
.muse-icons a {
	width: 5px;
	margin-right: 40px;
}
