.home-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 20px;
	margin-bottom: 300px;
}
.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}
.home-content main {
	border: 2px solid var(--main-blue-color);
	border-radius: 15px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.home-content h2 {
	border: 2px solid var(--main-blue-color);

	border-radius: 15px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: transparent;
}
.home-headshot {
	border-radius: 15px;
	border: 2px solid var(--main-blue-color);
	height: 290px;
}
.home-headshot img {
	height: 250px;
	border-radius: 30px;
	padding: 20px;
}
.home-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.home-info h4 {
	font-size: 25px;
}
.brand-state {
	font-size: 0.9em;
	font-style: italic;
	margin-top: -30px;
	margin-left: 10px;
	text-decoration-line: overline;
	text-decoration-color: var(--main-blue-color);
}
.home-bio {
	margin-left: 20px;
	font-size: 1.2em;
	text-align: right;
	hyphens: none;
}
.home-bio main {
	font-size: 30px;
	display: flex;
	justify-content: space-between;
}
.home-bio-container {
	border-radius: 15px;
	border: 2px solid var(--main-blue-color);
	margin-left: 20px;
	padding: 15px;
}
