.navbar {
	background-color: grey;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 2.5em;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
}
.navbar-items {
	display: flex;
	flex-direction: row;
	margin-right: 3%;
}
.navbar-items button {
	font-size: 20px;
	margin-right: 20px;
}
.navbar-items button:focus {
	border-bottom: red solid 4px;
	outline: none;
}
