.simon-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 100px;
	margin-bottom: 100vh;
	align-items: center;
	color: white;
	height: 100vh;
}
.simon-page h1 {
	border: 2px solid var(--main-blue-color);
	border-radius: 0.2em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
}
.simon-content {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 450px 500px 100px;
	grid-gap: 20px;
	border: 2px solid var(--main-blue-color);
	border-radius: 0.5em;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
	color: white;
}
.simon-desktop {
	width: 900px;
	border-radius: 0.3em;
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;
	justify-self: center;
}
.simon-mobile {
	width: 300px;
	grid-column: 3 / span 1;
	grid-row: 2 / span 2;
}
.simon-title {
	grid-column: 1 / span 2;
	grid-row: 3 / span 1;
	align-self: end;
	justify-self: center;
}
.simon-message {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
	border: 2px solid var(--main-blue-color);
	border-radius: 0.5em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: transparent;
}
.simon-icons {
	display: flex;
	justify-content: center;
	width: 5%;
}
