.playlist-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 100px;
	margin-bottom: 100vh;
	align-items: center;
	color: white;
	height: 100vh;
}
.playlist-page h1 {
	border: 2px solid var(--main-medium-red-color);
	border-radius: 0.2em;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
}
.playlist-content {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 450px 300px 300px;
	grid-gap: 20px;
	border: 2px solid var(--main-medium-red-color);
	border-radius: 0.5em;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: var(--main-grey-transparent-color);
	color: white;
}
.playlist-view {
	border-radius: 0.3em;
	height: 450px;
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
	align-self: center;
}
.playlist-mobile {
	width: 300px;
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
}
.playlist-home {
	border-radius: 0.3em;
	height: 600px;
	width: 625px;
	object-fit: contain;
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	justify-self: center;
	align-self: center;
}
.playlist-message {
	border: 2px solid var(--main-medium-red-color);
	border-radius: 0.5em;

	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}

.playlist-message h4 {
	font-size: 1.5em;
	margin: 0;
	margin-top: 10px;
}
.playlist-message p {
	font-size: 1em;
}
.playlist-icons {
	display: flex;
	flex-direction: column;
}
.playlist-icons div {
	display: flex;
}
.playlist-icons a {
	width: 5px;
	margin-right: 40px;
	color: var(--main-burgundy-color);
}
.playlist-icons a:hover {
	color: var(--main-bright-red-color);
}
